:root {
    --btn-bg-color: #596D48;
    --input-border-color: #E5E7EB;
}

@font-face {
    font-family: norse-bold;
    src: url(./assets/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-content {
    min-width: max(30%, 18rem);
    background-image: url('./assets/leaves.avif');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.4);
    font-family: norse-bold, sans-serif;
    font-size: 6rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    top: 20%;
}

.logo-container>img {
    width: 6rem;
}

.photo-source {
    font-family: system-ui, sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

.photo-source > a,
.photo-source > a:visited {
    color: white;
}